/*
    1. create table list to show books
    2. create button to add book
    3. create form to fill book info
        - form appear only when button to add book clicked
*/

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #f3d2c1;
    --secondary-color: #8bd3dd;

    --headline-color: #001858;
    --paragraph-color: #172c66;

    --button-color: #f582ae;
    --button2-color: #00ebc7;

    --stroke-color: #001858;

    --alert-color: #d9376e;

    --input-init: #ff8e3c;
    --input-invalid: #d9376e;
    --input-valid: #00ebc7;
}

body{
    position: relative;
    height: 100%;
    font-family: 'Fira Sans', sans-serif;
    /* background-color: #001858; */
}

h1, p{
    font-family: 'Fira Sans', sans-serif;
}
#grid-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: auto;
    gap: 10px;
}

.grid-above{
    display: block;
    margin: 20px auto;
    width: 1100px;
    height: 350px;
    background-color: var(--main-color);
    border: 3px solid var(--stroke-color);
    border-radius: 3px;
}

#add_btn {
    font-weight: 500;
    font-size: 24px;
}

#add_btn:hover {
    cursor: pointer;
    transition: 0.3s;
    transform: translate(-5px, -5px);
    box-shadow: 5px 5px 1px #001858;
}
.card-button {
    width: 300px;
    height: 90px;
    border-style: none;
    background-color: var(--button-color);
    color: var(--paragraph-color);
    outline: none;
    font-size: 12px;
    border-radius: 3px;
}

.grid-below{
    display: block;
    width: 1200px;
    height: 320px;
    margin: 0 auto;
    padding: 30px;
    background-color: var(--secondary-color);
    border: 3px solid var(--stroke-color);
    border-radius: 3px;
}

.above-1{
    position: relative;
    margin: auto;
    width: 50%;
    text-align: center;
    /* border: 1px solid black; */
}

.below-1{
    margin: auto;
    width: 80%;
}

.form{
    text-align: left;
    position: absolute;
    /* margin: auto; */
    top: -100px;
    left: 0;
    right: 0;
    padding: 20px;
    border: 1px solid black;
    background-color: var(--secondary-color);
}

.form input {
    width: 390px;
    height: 30px;
    margin-bottom: 10px;
    outline: none;
    padding: 3px;
    border: 1px solid var(--input-init);
}

.form input:invalid {
    border: 1px solid var(--input-invalid);
}

.form input:valid {
    border: 1px solid var(--input-valid);
}

.form input:nth-child(3) {
    margin-top: 15px;
}

#details {
    font-weight: 500;
    letter-spacing: 0.1em;
}

#close {
    float: right;
    margin: 0;
    padding: 0;
    font-size: 20px;

}

#close:hover {
    cursor: pointer;
}

#read_true,
#read_false {
    width: auto;
    height: auto;
    margin-bottom: 0;
}

.hid{
    display: none;
}

#book_list{
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    text-align: justify;
    /* border: 1px solid black; */
    border-spacing: 0px;
}
th, td{
    width: 300px;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid black;
}
.tb_head{
    width: 300px;
    text-align: center;
    /* background-color: rgb(240, 236, 236); */
    border-bottom: 1px solid black;
}

.flex {
    display: flex;
}

#sub {
    float: right;
    width: 120px;
    height: 40px;
    margin-bottom: 0;
    color: var(--paragraph-color);
    letter-spacing: 0.1em;
    font-weight: bold;
    transform: translate(-3px, -3px);
    box-shadow: 3px 3px 1px #001858;
}

#sub:hover {
    cursor: pointer;
    transition: 0.1s ease-in;
    background-color: var(--button2-color);
    transform: translate(0px, 0px);
    box-shadow: 0px 0px 0px #001858;
    border: 1px solid #001858;
    color: #FFF;
}

.error {
    font-size: 11px;
    font-weight: bold;
    color: var(--alert-color);
}